
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg" *ngIf=user>
        <app-sidebar *ngIf=user></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)" *ngIf=user></div>
    </div>
    <div class="main-panel">
        <app-navbar *ngIf=user></app-navbar>      
        <div style="position: relative;top:-10px">
            <router-outlet></router-outlet>
        </div>
    </div>
